/* 1. Selector for all html elements of a certain type */
h1 {
  margin: 0;
}

/* 2. Selector for a group of html elements */
.custom-column {
  border: 2px solid red;
}

/* 3. Selector for a specific html element via id*/

#row1 {
  background-color: salmon;
  padding: 8px;
}

#row2 {
  background-color: lightblue;
  padding: 4px;
}

#row2 span {
  margin-left: 20px
}

#row3 {
  display: flex;
  justify-content: space-between;
}

#col2 {
  flex-grow: 1;
  flex-basis: 50%;
  /* max-width: 50%; */
}

#middle-col {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#pic {
  max-height: 350px;
  max-width: 350px;
}

#col1 {
  min-width: 25%;
}

#col3 {
  min-width: 25%;
}